* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
}

img {
	margin: 40px auto;
	width: 50%;
	max-width: 600px;
}

p {
	margin: 0px auto 80px;
	text-transform: uppercase;
}
